.shad-ui-select-container .shad-ui-select__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  border: 1px solid hsl(var(--border));
  color: hsl(var(--foreground));
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.2s ease;
  min-height: 10px !important;
  padding: 1px 0;
  background-color: hsl(var(--background));
}

.shad-ui-select-container .shad-ui-select__control:hover {
  border-color: hsl(var(--muted-foreground));
}

.shad-ui-select-container .shad-ui-select__control--is-focused {
  border-color: hsl(var(--primary)) !important;
  box-shadow: hsl(var(--ring) / 0.15) 0px 0px 0px 3px !important;
}

/* When errored */
.shad-ui-select-container .shad-ui-select__control--destructive {
  border-color: hsl(var(--destructive)) !important;
}

.shad-ui-select-container .shad-ui-select__control--destructive:hover {
  border-color: hsl(var(--destructive)) !important;
}

.shad-ui-select-container .shad-ui-select__control--destructive--is-focused {
  border-color: hsl(var(--destructive));
  box-shadow: var(--destructive-box-shadow);
}

/* When disabled */
.shad-ui-select-container .shad-ui-select__control--is-disabled {
  @apply opacity-50;
}

/* Value container */
.shad-ui-select-container .shad-ui-select__value-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @apply text-sm;
}

.shad-ui-select-container .shad-ui-select__single-value {
  @apply text-sm;
  color: hsl(var(--foreground));
}

.shad-ui-select-container .shad-ui-select__multi-value {
  @apply text-sm;
  background-color: hsl(var(--secondary));
  color: hsl(var(--foreground));
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
}

.shad-ui-select-container .shad-ui-select__multi-value-label {
  color: hsl(var(--foreground));
  @apply py-0.5;
}

.shad-ui-select-container .shad-ui-select__multi-value-remove:hover {
  background-color: hsl(var(--border)) !important;
  color: hsl(var(--foreground)) !important;
}

/* Dropdown indicator separator */
.shad-ui-select-container .shad-ui-select__indicator-separator {
  display: none;
}

/* Dropdown indicator */
.shad-ui-select-container .shad-ui-select__indicator {
  color: hsl(var(--foreground));
  padding: 6px 10px 6px 8px !important;
  transition: all 0.2s ease;
  @apply text-sm opacity-50;
}

.shad-ui-select-container .shad-ui-select__indicator:hover {
  color: hsl(var(--primary));
}

/* Menu */
.shad-ui-select__menu {
  border-radius: 0.5rem;
  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--background)) !important;
  color: hsl(var(--foreground));
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.2s ease;
  @apply text-sm;
}

.shad-ui-select__menu .shad-ui-select__menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Menu options*/
.shad-ui-select__menu .shad-ui-select__option {
  padding: 6px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  @apply rounded-sm py-1.5 px-2.5;
}

.shad-ui-select__menu .shad-ui-select__option:hover {
  background-color: hsl(var(--muted));
}

.shad-ui-select__menu .shad-ui-select__option--is-selected {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

.shad-ui-select__menu .shad-ui-select__option--is-focused {
  background-color: hsl(var(--muted));
}

.shad-ui-select__menu
  .shad-ui-select__option--is-selected.shad-ui-select__option--is-focused {
  background-color: hsl(var(--primary));
}

.shad-ui-select__menu .shad-ui-select__option--is-focused:hover {
  background-color: hsl(var(--muted));
}

.shad-ui-select__menu .shad-ui-select__option--is-selected:hover {
  background-color: hsl(var(--primary));
}

/* Disabled options */
.shad-ui-select__menu .shad-ui-select__option--is-disabled {
  background-color: hsl(var(--muted));
  color: hsl(var(--muted-foreground));
  cursor: not-allowed;
}

.shad-ui-select__menu .shad-ui-select__option--is-disabled:hover {
  background-color: hsl(var(--muted));
}

.shad-ui-select__menu
  .shad-ui-select__option--is-disabled.shad-ui-select__option--is-selected {
  background-color: hsl(var(--muted));
  color: hsl(var(--muted-foreground));
}

.shad-ui-select__menu
  .shad-ui-select__option--is-disabled.shad-ui-select__option--is-selected:hover {
  background-color: hsl(var(--muted));
}

.shad-ui-select__menu
  .shad-ui-select__option--is-disabled.shad-ui-select__option--is-focused {
  background-color: hsl(var(--muted));
  color: hsl(var(--muted-foreground));
}

.shad-ui-select__menu
  .shad-ui-select__option--is-disabled.shad-ui-select__option--is-focused:hover {
  background-color: hsl(var(--muted));
}

.shad-ui-select__menu
  .shad-ui-select__option--is-disabled.shad-ui-select__option--is-selected.shad-ui-select__option--is-focused {
  background-color: hsl(var(--muted));
  color: hsl(var(--muted-foreground));
}

.shad-ui-select__menu
  .shad-ui-select__option--is-disabled.shad-ui-select__option--is-selected.shad-ui-select__option--is-focused:hover {
  background-color: hsl(var(--muted));
}

/* Input */
.shad-ui-select__input {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  margin: 0 !important;
  color: hsl(var(--foreground)) !important;
  @apply text-sm;
}

.shad-ui-select__placeholder {
  color: hsl(var(--placeholder)) !important;
  @apply text-sm;
}
